PORT=3000
HOSTNAME=localhost
NODE_ENV=development # production
EXTERNAL_API_URL=http://localhost:3001
GITHUB_TOKEN=token
MYSQL_HOST=localhost
MYSQL_PORT=3306
MYSQL_USER=root
MYSQL_PASSWORD=password
MYSQL_DB=smart_home_devices
REDIS_HOST=localhost
REDIS_PORT=6379
JWT_SECRET=key_min_32_chars_long